@model IEnumerable<Wine_e_commerce.Models.SanPham>
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var bestSellerList = ViewBag.query_8spv2 as List<Wine_e_commerce.Models.SanPham>;
}
<style>
    .hero-header {
        background: linear-gradient(rgba(248, 223, 173, 0.1), rgba(248, 223, 173, 0.1)), url('@Url.Content("~/images/home.png")');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        overflow: hidden;
    }
    .text-shadow {
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    }
</style>
<!-- Hero Start -->
<div class="container-fluid py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-md-12 col-lg-7">
                <h4 class="mb-3 text-secondary text-shadow">100% chất lượng</h4>
                <h1 class="mb-5 display-3 text-primary text-shadow">
                    Rượu vang và Champagne
                </h1>
            </div>
            <div class="col-md-12 col-lg-5">
                <div id="carouselId"
                     class="carousel slide position-relative"
                     data-bs-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active rounded">
                            <img src="~/images/Ruou/Categories/vang-trang.jpg"
                                 class="img-fluid w-100 h-100 rounded"
                                 alt="Second slide" />
                            <a href="~/shop/Category/WINE002" class="btn px-4 py-2 text-white rounded">Vang Trắng</a>
                        </div>
                        <div class="carousel-item rounded">
                            <img src="~/images/Ruou/Categories/champange.jpg"
                                 class="img-fluid w-100 h-100 rounded"
                                 alt="Third slide" />
                            <a href="~/shop/Category/WINE003" class="btn px-4 py-2 text-white rounded">Champagne</a>
                        </div>
                        <div class="carousel-item  rounded">
                            <img src="~/images/Ruou/Categories/Vang-do.jpg"
                                 class="img-fluid w-100 h-100 bg-secondary rounded"
                                 alt="First slide" />
                            <a href="~/shop/Category/WINE001" class="btn px-4 py-2 text-white rounded">Vang đỏ</a>
                        </div>
                    </div>
                    <button class="carousel-control-prev"
                            type="button"
                            data-bs-target="#carouselId"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"
                              aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next"
                            type="button"
                            data-bs-target="#carouselId"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon"
                              aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->
<!-- Featurs Section Start -->
<div class="container-fluid featurs py-5">
    <div class="container py-5">
        <div class="row g-4">
            <div class="col-md-6 col-lg-3">
                <div class="featurs-item text-center rounded bg-light p-4">
                    <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                        <i class="fas fa-car-side fa-3x text-white"></i>
                    </div>
                    <div class="featurs-content text-center">
                        <h5>Miễn phí vận chuyển</h5>
                        <p class="mb-0">Miển phí với đơn hàng trên $300</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="featurs-item text-center rounded bg-light p-4">
                    <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                        <i class="fas fa-user-shield fa-3x text-white"></i>
                    </div>
                    <div class="featurs-content text-center">
                        <h5>Giao dịch bảo mật</h5>
                        <p class="mb-0">100% giao dịch bảo mật</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="featurs-item text-center rounded bg-light p-4">
                    <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                        <i class="fas fa-exchange-alt fa-3x text-white"></i>
                    </div>
                    <div class="featurs-content text-center">
                        <h5>30 ngày đổi trả</h5>
                        <p class="mb-0">30 ngày đổi trả</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="featurs-item text-center rounded bg-light p-4">
                    <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                        <i class="fa fa-phone-alt fa-3x text-white"></i>
                    </div>
                    <div class="featurs-content text-center">
                        <h5>Hỗ trợ 24/7</h5>
                        <p class="mb-0">Hộ trợ nhanh nhất</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Featurs Section End -->
<!-- Fruits Shop Start-->
<div class="container-fluid fruite py-5">
    <div class="container py-5">
        <div class="tab-class text-center">
            <div class="row g-4">
                <div class="col-lg-4 text-start">
                    <h1>Một số rượu gần đây</h1>
                </div>
            </div>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="row g-4">
                        <div class="col-lg-12">
                            <div class="row g-4">


                                @foreach (var item in Model)
                                {
                                    <div class="col-md-6 col-lg-4 col-xl-3">
                                        <div class="rounded position-relative fruite-item">
                                            <div class="fruite-img">
                                                <img src="~/images/Ruou/@item.Image"
                                                     class="img-fluid w-100 rounded-top"
                                                     alt="" />
                                            </div>
                                            <div class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                                                 style="top: 10px; left: 10px">
                                                @item.LoaiSanPham.CatalogyName
                                            </div>
                                            <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                                <h4 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                                    @Html.ActionLink(item.ProductName, "Detail", "Product", new { id = item.ProductID }, null)
                                                </h4>
                                                <p>
                                                    @item.Region - Nguồn gốc
                                                </p>
                                                <div class="d-flex justify-content-between flex-lg-wrap">
                                                    <p class="text-dark fs-5 fw-bold mb-0">
                                                        @item.Price$
                                                    </p>
                                                    <button onclick="handleAdd(@item.ProductID)" 
                                                       class="btn border border-secondary rounded-pill px-3 text-primary">
                                                        <i class="fa fa-shopping-bag me-2 text-primary"></i>
                                                        Thêm vào giỏ  hàng
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Fruits Shop End-->
<!-- Vesitable Shop Start-->
<div class="container-fluid vesitable py-5">
    <div class="container py-5">
        <h1 class="mb-0">Được mua nhiều nhất</h1>
        <div class="owl-carousel vegetable-carousel justify-content-center">
            @foreach (var item in bestSellerList)
            {
                <div class="border border-primary rounded position-relative vesitable-item">
                    <div class="vesitable-img">
                        <img src="~/images/Ruou/@item.Image"
                             class="img-fluid w-100 rounded-top"
                             alt="" />
                    </div>
                    <div class="text-white bg-primary px-3 py-1 rounded position-absolute"
                         style="top: 10px; right: 10px">
                        @item.LoaiSanPham.CatalogyName
                    </div>
                    <div class="p-4 rounded-bottom">
                        <h4 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                            @Html.ActionLink(item.ProductName, "Detail", "Product", new { id = item.ProductID }, null)
                        </h4>
                        <p>
                            @item.Region - Nguồn gốc
                        </p>
                        <div class="d-flex justify-content-between flex-lg-wrap">
                            <p class="text-dark fs-5 fw-bold mb-0">@item.Price$</p>
                            <button onclick="handleAdd(@item.ProductID)"
                                    class="btn border border-secondary rounded-pill px-3 text-primary">
                                <i class="fa fa-shopping-bag me-2 text-primary"></i>
                                Thêm vào giỏ hàng
                            </button>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>
<!-- Vesitable Shop End -->
<!-- Fact Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="bg-light p-5 rounded">
            <div class="row g-4 justify-content-center">
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="counter bg-white rounded p-5">
                        <i class="fa fa-users text-secondary"></i>
                        <h4>Số lượng khách hàng hài lòng</h4>
                        <h1>1963</h1>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="counter bg-white rounded p-5">
                        <i class="fa fa-users text-secondary"></i>
                        <h4>Chất lượng dịch vụ</h4>
                        <h1>99%</h1>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="counter bg-white rounded p-5">
                        <i class="fa fa-users text-secondary"></i>
                        <h4>Thành tựu</h4>
                        <h1>33</h1>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="counter bg-white rounded p-5">
                        <i class="fa fa-users text-secondary"></i>
                        <h4>Sản phẩm có sẵn</h4>
                        <h1>789</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>